body {
  background-color: grey;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  float: left;
  background: white;
	height: 340px;
	width: 225px;
  padding-bottom: 50px;
  margin: 2px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

p {
  font-family: "Arial", Helvetica, sans-serif;
}

.circular {
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: red;
	/* background: url(http://orig01.deviantart.net/bc86/f/2007/227/5/1/black_hole_iii_by_hmn.jpg) no-repeat; */
}

.cardCenter {
  width: 45%;
  margin: 0 auto; 
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}